#burger {
	content: url(../img/burger2.png);
	display: inline-block;
	width: 15%;
	height: 15%;
	float: left;
	margin-top: 7%;
	margin-left: 4%;
}

#contentSearch {
    display: none;
}

#blackList {
	display: none;
}

#favoriteList {
	display: none;
}

#sideMenu {
    display: none;
    background-color: dimgrey;
    z-index: 1;
    position: absolute;
    font-size: 1.5em;
    height: 100%;
}

h1 {
	display: inline-block;
	float: left;
	margin-left: 15%;
	padding-bottom: 10%;
}

#top {
	background-color: #00CBFF;
	float: left;
}

#cat {
    margin-left: 25%;
    margin-top: 25%;
    width: 25%;
    height: 25%;
}

#nom, #age {
    margin-left: 25%;
    margin-top: 2%;
}

header {
    width: 100%;
}

#like {
    content: url(../img/heart.png);
    width: 15%;
    height: 15%;
    float: left;
    margin-left: 20%;
}

#unlike {
    content: url(../img/nok.png);
    width: 15%;
    height: 15%;
    float: left;
    margin-left: 20%;
}

#result {
    display: none;
}

#end {
    font-size: 3em;
    text-align: center;
    padding-top: 50%;
}

#del {
    display: block;
    float: right;
    width: 15%;
    height: 5%;
}

.metro {
    width: 30%;
    height: 10%;
}

.menu {
    cursor: pointer;
    color: darkblue;
}

#clean {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 7%;
    background-color: transparent;
   left: 0%;
   top: 0%;
}

.none {
    display: none;
    float: right;
    width: 20%;
    height: 20%;
    margin-top: -26%;
}